cuda_python
bettercam
numpy
pywin32
screeninfo
asyncio
onnxruntime
onnxruntime-gpu
pyserial
requests
opencv-python
packaging
ultralytics
keyboard
mss
supervision
protobuf>=6.33.5 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability